<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codingeasy.shiroplus.loader.admin.server.dao.ConfigExtendDao">

   <insert id="batchInsert">
       INSERT INTO sp_config_extend(config_id,`name`,`value`,`type`)
       VALUES <foreach collection="configExtendEntities" item="configExtendEntity" separator=",">
                (
                    #{configExtendEntity.configId},
                    #{configExtendEntity.name},
                    #{configExtendEntity.value},
                    #{configExtendEntity.type}
                 )
        </foreach>
   </insert>
</mapper>