<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.codingeasy.shiroplus.loader.admin.server.dao.UserDao">

    <resultMap id="user_roles_result" type="org.codingeasy.shiroplus.loader.admin.server.models.entity.UserRoleCodesEntity">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <collection property="roles" ofType="java.lang.String">
            <result column="code"/>
        </collection>
    </resultMap>
    <select id="getUserPermissions" resultMap="user_roles_result">
        SELECT
            u.id,
            u.username,
            u.nickname,
            r.`code`
        FROM
            sp_user u
        JOIN sp_user_role ur ON u.id = ur.user_id AND u.id = #{userId} AND status = 1
        JOIN sp_role r ON ur.role_id = r.id
    </select>
</mapper>